/* ==========================================================================
   Utilities
   ========================================================================== */
.mb-0 { margin-bottom: 0; }
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.pb-0 { padding-bottom: 0; }
.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.pt-0 { padding-top: 0; }
.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }

.mb-0--medium {
  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.mt-0--large {
  @include breakpoint(large) {
    margin-top: 0;
  }
}

.mb-0--large {
  @include breakpoint(large) {
    margin-bottom: 0;
  }
}

.text-medium { font-size: 0.875rem; }
.text-small { font-size: $small-font-size; }

.color-tertiary { color: $tertiary-color; }

.avatar {border-radius: 100%; }

.inline-text { display: inline-block; }

.icon-large { height: 4.5rem; }

section{
  padding:2em 0;
}

.post-item{
  display: block;
  padding:1em;
  background-color: $light-gray;
}